{% extends "layout.html" %}
{% from 'header.html' import header %}

{% block title %}
Book: {{book.title}} by {{book.author}}
{% endblock %}

{% block body %}
{{ header(user)}}
<div class="book-container">

  <h1>{{book.title}}</h1>

  <div class="book-description">
    <small>{{book.isbn}}</small>
    Author: {{book.author}}
    Published: {{book.year}}
    <p>Rating: {{review.books[0].average_rating}} rated by {{review.books[0].reviews_count}} reviewers</p>

  </div>

  {% if userReview %}
  <div class="book-reviews">

    <h2> Reviews </h2>
    {% for rev in userReview %}
    <div class="book-review">

      <p>{{rev.username}}</p>
      <p>Rating Given: {{rev.rating}}</p>
      <p>{{rev.review}}</p>
    </div>
    {% endfor %}

  </div>
  {% endif %}


  {% if user is not none %}

  {% if commented %}
  <p> you have already submitted a comment</p>
  {% else %}
  <form action="/book/{{book.isbn}}" method="post">
    <h2>Enter your own review</h2>
    <select name="rating" value="5">
      {% for o in rating %}
      <option value="{{o}}">{{o}}</option>
      {% endfor %}
    </select>
    <textarea name="review"> </textarea>
    <button>Submit</button>
  </form>
  {% endif %}

  {% else %}
  <p>You need to login to comment </p>
  {% endif %}


  <a href="{{ url_for('index')}}">Back to list of books</a>
</div>

{% endblock %}