{% extends "layout.html" %}
{% from 'header.html' import header %}

{% block title %}
Book: {{book.title}} by {{book.author}}
{% endblock %}

{% block body %}
{{ header(user)}}
<div class="book-container">

  <h1>{{book.title}}</h1>
  <div class="book-description">
    <small>ISBN:<a href="/api/{{book.isbn}}">✫ {{book.isbn}}</a></small>
    <p><b>Author: </b>{{book.author}}</p>
    <p><b>Published:</b> {{book.year}}</p>
    <p><b>Rating: </b>{{review.books[0].average_rating}} rated by {{review.books[0].reviews_count}} reviewers</p>

  </div>

  {% if userReview %}
  <h2> Reviews </h2>
  <div class="book-reviews">

    {% for rev in userReview %}
    <div class="book-review">

      <p>
        <h3>{{rev.username}}</h3>
      </p>
      <p>Rating Given: {{rev.rating}}</p>
      <p class="quote">{{rev.review}}</p>
    </div>
    {% endfor %}

  </div>
  {% endif %}

  <div class="book-textarea">
    {% if user is not none %}
    {% if commented %}
    <p> You have already submitted a comment</p>
    {% else %}
    <h2>Review {{book.title}}</h2>
    <form action="/book/{{book.isbn}}" method="post" class="book-form">
      <label for="rating">Rating: </label>
      <select id="rating" name="rating" value="5">
        {% for o in rating %}
        <option value="{{o}}">{{o}}</option>
        {% endfor %}
      </select>
      <label for="review">Review</label>
      <textarea id="review" name="review"> </textarea>
      <button>Submit</button>
    </form>
    {% endif %}

    {% else %}
    <p>You need to login to comment </p>
    {% endif %}
  </div>

</div>

{% endblock %}